<div class="row my-3">
  <div class="col-sm-6">
    <h2>イベントカテゴリ一覧・追加</h2>
  </div>
</div>

<div class="row mb-3 ml-1">
  <%= render 'event_categories/form', event_category:EventCategory.new %>
</div>

<div class="row">
  <div class="col-sm-10">
    <p class="text-danger">イベントカテゴリは使用されている場合削除できません。また、イベントカテゴリは１つ以上存在している必要があります。</p>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th style="width: 15%">使用数</th>
          <th style="width: 75%">カテゴリ名</th>
          <th style="width: 10%"></th>
        </tr>
      </thead>
      <tbody>
        <% @event_categories.each do |category| %>
          <tr>
            <td><%= category.event.count %></td>
            <td><%= category.event_category_name %></td>
            <td>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle"
                        type="button" id="dropdownMenu1" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-cog"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <%= link_to "編集する", edit_event_category_path(category.id), class:"dropdown-item" %>
                  <% if category.event.count == 0 && @event_categories.count >= 2 %>
                    <div class="dropdown-divider"></div>
                    <%= link_to "削除する", event_category_path(category.id), method: :delete, data: {confirm: "本当に削除しますか？"}, class:"dropdown-item" %>
                  <% end %>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
