
<div class="row my-4">
  <div class="col-sm-10">
    <h2><%= @job_category.company.company_name %>の<%= @job_category.job_name %>詳細</h2>
  </div>
  <div class="col-sm-1 offset-sm-1">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle"
              type="button" id="dropdownMenu1" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-cog"></i>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <%= link_to "編集する", edit_job_category_path(@job_category.id), class:"dropdown-item" %>
        <div class="dropdown-divider"></div>
        <%= link_to "削除する", job_category_path(@job_category.id), method: :delete, data: {confirm: "本当に削除しますか？"}, class:"dropdown-item" %>
      </div>
    </div>
  </div>
</div>

<div class="row ">
  <div class="col-sm-12">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th style="width:20%">職種</th>
          <td style="width:80%"><%= @job_category.job_name %></td>
        </tr>
        <tr>
          <th>企業名</th>
          <td><%= @job_category.company.company_name %></td>
        </tr>
        <tr>
          <th>給与(額面)</th>
          <td><%= @job_category.salary %></td>
        </tr>
        <tr>
          <th>基本給</th>
          <td><%= @job_category.base_salary %></td>
        </tr>
        <tr>
          <th>手当</th>
          <td><%= @job_category.allowance %></td>
        </tr>
        <tr>
          <th>年間休日</th>
          <td><%= @job_category.annual_holiday %></td>
        </tr>
        <tr>
          <th>賞与</th>
          <td><%= @job_category.annual_holiday %></td>
        </tr>
        <tr>
          <th>昇給</th>
          <td><%= @job_category.salary_increase %></td>
        </tr>
        <tr>
          <th>残業時間</th>
          <td><%= @job_category.overtime_hours %></td>
        </tr>
        <tr>
          <th>残業代</th>
          <td><%= @job_category.overtime_hours %></td>
        </tr>
        <tr>
          <th>残業代</th>
          <td><%= @job_category.paid_leave %></td>
        </tr>
        <tr>
          <th>勤務地</th>
          <td><%= @job_category.working_place %></td>
        </tr>
        <tr>
          <th>メモ</th>
          <td><%= @job_category.jobcategories_memo %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
