<div class="row my-3">
  <div class="col-sm-6">
    <h2>志望度一覧・追加</h2>
  </div>
</div>

<div class="row mb-3 ml-1">
  <%= render 'wish_degrees/form', wish_degree:WishDegree.new %>
</div>

<div class="row">
  <div class="col-sm-10">
    <p class="text-danger">志望度カテゴリは使用されている場合削除できません。また、志望度カテゴリは１つ以上存在している必要があります。</p>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th style="width: 15%">使用数</th>
          <th style="width: 75%">志望度</th>
          <th style="width: 10%"></th>
        </tr>
      </thead>
      <tbody>
        <% @wish_degrees.each do |post| %>
          <tr>
            <td><%= post.companies.count %></td>
            <td><%= post.wish_degree_name %></td>
            <td>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle"
                        type="button" id="dropdownMenu1" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-cog"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <%= link_to "編集する", edit_wish_degree_path(post.id), class:"dropdown-item" %>
                  <% if post.companies.count == 0 && @wish_degrees.count >= 2 %>
                    <div class="dropdown-divider"></div>
                    <%= link_to "削除する", wish_degree_path(post.id), method: :delete, data: {confirm: "本当に削除しますか？"}, class:"dropdown-item" %>
                  <% end %>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
