<div class="row my-3">
  <div class="col-sm-6">
    <h2>イベント新規登録</h2>
  </div>
</div>



<%= form_with model: @event do |f| %>
  <%= render "layouts/error_messages", model: @event %>

  <div class="row form-group">
    <%= f.label :company_id, "企業名", class:"col-sm-3 col-form-label" %>
    <div class="col-sm-8">
      <%= f.collection_select :company_id, Company.where(user_id:current_user.id).order(id: "DESC"), :id, :company_name, :prompt => "企業名を選択", class: "form-control" %>
    </div>
  </div>
  <div class="row form-group">
    <%= f.label :event_category_id, "イベントカテゴリ", class:"col-sm-3 col-form-label" %>
    <div class="col-sm-8">
      <%= f.collection_select :event_category_id, EventCategory.where(user_id:current_user.id).order(id: "DESC"), :id, :event_category_name, :prompt => "イベントカテゴリを選択", class: "form-control" %>
    </div>
  </div>

  <div class="row form-group">
    <%= f.label :event_name, "イベント名", class:"col-sm-3 col-form-label" %>
    <div class="col-sm-8">
      <%= f.text_field :event_name, class: "form-control", placeholder: "夏のインターン" %>
    </div>
  </div>

  <div class="row form-group">
    <%= f.label :limit_datetime, "申し込み期限", class:"col-sm-3 col-form-label" %>
    <div class="col-sm-8">
      <%= f.datetime_field :limit_datetime, class: "form-control" %>
    </div>
  </div>

  <div class="row form-group">
    <%= f.label :start_datetime, "開始日時", class:"col-sm-3 col-form-label" %>
    <div class="col-sm-8">
      <%= f.datetime_field :start_datetime, class: "form-control" %>
    </div>
  </div>

  <div class="row form-group">
    <%= f.label :finish_datetime, "終了日時", class:"col-sm-3 col-form-label" %>
    <div class="col-sm-8">
      <%= f.datetime_field :finish_datetime, class: "form-control" %>
    </div>
  </div>


  <div class="row form-group">
    <%= f.label :location, "場所", class:"col-sm-3 col-form-label" %>
    <div class="col-sm-8">
      <%= f.text_field :location, class: "form-control", placeholder: "オンライン(ZOOM)" %>
    </div>
  </div>

  <div class="row form-group">
    <%= f.label :meeting_url, "ミーティングURL", class:"col-sm-3 col-form-label" %>
    <div class="col-sm-8">
      <%= f.url_field :meeting_url, class: "form-control", placeholder: "http://〇〇〇〇" %>
    </div>
  </div>

  <div class="row form-group">
    <%= f.label :meeting_id, "ミーティングID", class:"col-sm-3 col-form-label" %>
    <div class="col-sm-8">
      <%= f.text_field :meeting_id, class: "form-control", placeholder: "a1234567" %>
    </div>
  </div>
  <div class="row form-group">
    <%= f.label :meeting_password, "ミーティングパスワード", class:"col-sm-3 col-form-label" %>
    <div class="col-sm-8">
      <%= f.text_field :meeting_password, class: "form-control", placeholder: "00000000" %>
    </div>
  </div>
  <div class="row form-group">
    <%= f.label :belongings, "持ち物", class:"col-sm-3 col-form-label" %>
    <div class="col-sm-8">
      <%= f.text_field :belongings, class: "form-control", placeholder: "筆記用具" %>
    </div>
  </div>
  <div class="row form-group">
    <%= f.label :clothes, "服装", class:"col-sm-3 col-form-label" %>
    <div class="col-sm-8">
      <%= f.text_field :clothes, class: "form-control", placeholder: "私服可" %>
    </div>
  </div>
  <div class="row form-group">
    <%= f.label :event_memo, "メモ", class:"col-sm-3 col-form-label" %>
    <div class="col-sm-8">
      <%= f.text_area :event_memo, class: "form-control", placeholder: "メモ" %>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-sm-3 offset-sm-4">
      <%= f.submit "新規登録", class: "btn btn-success btn-block" %>
    </div>
  </div>
<% end %>
