
<div class="row my-4">
  <div class="col-sm-10">
    <h2><%= @event.company.company_name %>の<%= @event.event_name %>詳細</h2>
  </div>
  <div class="col-sm-1 offset-sm-1">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle"
              type="button" id="dropdownMenu1" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-cog"></i>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <%= link_to "編集する", edit_event_path(@event.id), class:"dropdown-item" %>
        <div class="dropdown-divider"></div>
        <%= link_to "削除する", event_path(@event.id), method: :delete, data: {confirm: "本当に削除しますか？"}, class:"dropdown-item" %>
      </div>
    </div>
  </div>
</div>

<div class="row ">
  <div class="col-sm-12">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th style="width:20%">イベント名</th>
          <td style="width:80%"><%= @event.event_name %></td>
        </tr>
        <tr>
          <th>企業名</th>
          <td><%= @event.company.company_name %></td>
        </tr>
        <tr>
          <th>カテゴリ</th>
          <td><%= @event.event_category.event_category_name %></td>
        </tr>
        <tr>
          <th>申し込み期限</th>

          <td>
            <% if @event.limit_datetime.present? %>
              <%= @event.limit_datetime.strftime("%Y/%-m/%-d %-H:%M") %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>開始日時</th>
          <td>
            <% if @event.start_datetime.present?  %>
              <%= @event.start_datetime.strftime("%Y/%-m/%-d %-H:%M") %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>終了日時</th>
          <td>
            <% if @event.finish_datetime.present? %>
              <%= @event.finish_datetime.strftime("%Y/%-m/%-d %-H:%M") %>
            <% end %>
          </td>
        </tr>

        <tr>
          <th>場所</th>
          <td><%= @event.location %></td>
        </tr>
        <tr>
          <th>ミーティングURL</th>
          <td><%= @event.meeting_url %></td>
        </tr>
        <tr>
          <th>ミーティングID</th>
          <td><%= @event.meeting_id %></td>
        </tr>
        <tr>
          <th>ミーティングパスワード</th>
          <td><%= @event.meeting_password %></td>
        </tr>
        <tr>
          <th>持ち物</th>
          <td><%= @event.belongings %></td>
        </tr>
        <tr>
          <th>服装</th>
          <td><%= @event.clothes %></td>
        </tr>
        <tr>
          <th>メモ</th>
          <td><%= @event.event_memo %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
