
<%= form_with model: company do |f| %>
  <%= render "layouts/error_messages", model: company %>

  <div class="row form-group">
    <%= f.label :industry_id, class:"col-sm-3 col-form-label" do %>
      <span class="badge bg-danger text-white">必須</span> 業界
    <% end %>
    <div class="col-sm-8">
      <%= f.collection_select :industry_id, Industry.where(user_id:current_user.id), :id, :industry_name, {prompt: "選択してください"}, {class: "custom-select"} %>
    </div>
  </div>
  <div class="row form-group">
    <%= f.label :company_name, class:"col-sm-3 col-form-label" do %>
      <span class="badge bg-danger text-white">必須</span> 企業名
    <% end %>
    <div class="col-sm-8">
      <%= f.text_field :company_name, class: "form-control", placeholder: "株式会社ナビチェック" %>
    </div>
  </div>

  <div class="row form-group">
    <%= f.label :company_cite_url, class:"col-sm-3 col-form-label" do %>
      <span class="badge bg-secondary text-white">任意</span> 企業サイトURL
    <% end %>
    <div class="col-sm-8">
      <%= f.url_field :company_cite_url, class: "form-control", placeholder: "http://〇〇〇〇" %>
    </div>
  </div>
  <div class="row form-group">
    <%= f.label :recruit_cite_url, class:"col-sm-3 col-form-label" do %>
      <span class="badge bg-secondary text-white">任意</span> 採用サイトURL
    <% end %>
    <div class="col-sm-8">
      <%= f.url_field :recruit_cite_url, class: "form-control", placeholder: "http://〇〇〇〇" %>
    </div>
  </div>
  <div class="row form-group">
    <%= f.label :recruit_cite_username, class:"col-sm-3 col-form-label" do %>
      <span class="badge bg-secondary text-white">任意</span> 採用サイトユーザー名
    <% end %>
    <div class="col-sm-8">
      <%= f.text_field :recruit_cite_username, class: "form-control", placeholder: "a1234567" %>
    </div>
  </div>
  <div class="row form-group">
    <%= f.label :recruit_cite_password, class:"col-sm-3 col-form-label" do %>
      <span class="badge bg-secondary text-white">任意</span> 採用サイトパスワード
    <% end %>
    <div class="col-sm-8">
      <%= f.text_field :recruit_cite_password, class: "form-control", placeholder: "00000000" %>
    </div>
  </div>
  <div class="row form-group">
    <%= f.label :location, class:"col-sm-3 col-form-label" do %>
      <span class="badge bg-secondary text-white">任意</span> 所在地
    <% end %>
    <div class="col-sm-8">
      <%= f.text_field :location, class: "form-control", placeholder: "東京都中央区御魚町0-0-0" %>
    </div>
  </div>
  <div class="row form-group">
    <%= f.label :company_memo, class:"col-sm-3 col-form-label" do %>
      <span class="badge bg-secondary text-white">任意</span> メモ
    <% end %>
    <div class="col-sm-8">
      <%= f.text_area :company_memo, class: "form-control", placeholder: "メモ" %>
    </div>
  </div>
  <div class="row form-group">
    <%= f.label :selection_status_id, class:"col-sm-3 col-form-label" do %>
      <span class="badge bg-danger text-white">必須</span> 選考状況
    <% end %>
    <div class="col-sm-8">
      <%= f.collection_select :selection_status_id, SelectionStatus.where(user_id:current_user.id), :id, :status_name, {prompt: "選択してください"}, {class: "custom-select"} %>
    </div>
  </div>
  <div class="row form-group">
    <%= f.label :wish_degree_id, class:"col-sm-3 col-form-label" do %>
      <span class="badge bg-danger text-white">必須</span> 志望度
    <% end %>
    <div class="col-sm-8">
      <%= f.collection_select :wish_degree_id, WishDegree.where(user_id:current_user.id), :id, :wish_degree_name, {prompt: "選択してください"}, {class: "custom-select"} %>
    </div>
  </div>


  <div class="row form-group">
    <div class="col-sm-3 offset-sm-4">
      <%= f.submit "保存する", class: "btn btn-info btn-block" %>
    </div>
  </div>
<% end %>
